/* Formatando o corpo do site */
body {
  font-family: 'Roboto', sans-serif;
  background: var(--bg);
  color: var(--text);
  line-height: 1.5;
}

/* --------------------------- HEADER ------------------------ */

/* Formatação do header */
.header {
  background: var(--bg-dark);
  padding: 16px 0;
  box-shadow: var(--shadow);
  position: sticky;
  top: 0;
  z-index: 10;
}

/* Formatação do container do header */
.header__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Formatando a logo  */
.header__logo {
  font-family: 'Oswald', sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  color: var(--accent);
}

.header__nav {
  display: flex;
}

/* Formatando o menu */
.header__menu {
  display: flex;
  gap: 20px;
}

.header__link {
  color: var(--text-muted);
  transition: var(--transition);
}

.header__link:hover {
  color: var(--accent);
}

.header__social {
  display: none; 
}

.header__toggle span {
  font-size: 32px;
  color: var(--accent);
}

/* ----------------------------- BANNER ---------------------------------- */

.banner {
  height: 260px;
  background: url('https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg?auto=compress&cs=tinysrgb&w=1200')
    center/cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner__title {
  font-size: 2.8rem;
  font-weight: 700;
}

.banner__title--highlight {
  color: var(--accent);
}

.banner__subtitle {
  text-align: center;
  margin-top: 8px;
  color: var(--text-muted);
  background-color: #00000076;
  font-weight: 800;
}

/* --------------------------------- CATEGORIAS -------------------------------- */

.categories {
  padding: 20px 0;
  display: flex;
}

.categories__container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 16px;
  text-align: center;
  
}

.categories__title {
  font-size: 1.8rem;
  margin-bottom: 16px;
}

.categories__list {
  display: flex;
  flex-wrap: wrap;       
  gap: 16px;

}

.category-item {
  background: var(--bg-dark);
  padding: 12px;
  border-radius: var(--radius-md);
  box-shadow: var(--shadow);
  transition: var(--transition);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  border: 2px solid white;
}

.category-item:hover {
  transform: translateY(-6px);
  box-shadow: var(--shadow-hover);
}

.category-item__img {
  border-radius: var(--radius-md);
  height: 120px;
  object-fit: cover;
  width: 120px;
  border-radius: 100%;
}

/* --------------------------------- BOTÕES ----------------------------------------- */
.button {
  display: inline-block;
  background: var(--accent);
  color: #000;
  padding: 10px 14px;
  border-radius: var(--radius-sm);
  margin-top: 8px;
  font-weight: bold;
  transition: var(--transition);
} 

.button:hover {
  background: var(--accent-light);
}

.button--primary {
  background: var(--accent-light);
}

.button--small {
  font-size: 0.85rem;
}

/* --------------------------- PRODUTOS ---------------------------- */

.products {
  padding: 40px 0;
}

.products__container {
  max-width: 1100px;
  margin: auto;
  padding: 0 16px;
}

.products__title {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.products__grid {
  display: grid;
  grid-template-columns: 1fr;  /* mobile: 1 coluna */
  gap: 20px;
}

/* ---------------------------- CARDS ------------------------ */

.card {
  background: var(--bg-dark);
  border-radius: var(--radius-md);
  overflow: hidden;
  box-shadow: var(--shadow);
  transition: var(--transition);

}

.card:hover {
  transform: translateY(-8px);
  box-shadow: var(--shadow-hover);
}

.card__image-wrapper {
  width: 100%;
  height: 200px;
  overflow: hidden;

}

.card__image {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.card__body {
  padding: 16px;
}

.card__title {
  font-family: 'Oswald', sans-serif;
  margin-bottom: 6px;
}

.card__description {
  color: var(--text-muted);
  margin-bottom: 16px;
}

.card__footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card__price {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--accent-light);
}

/* ----------------------------------- FOOTER ------------------------------ */

.footer {
  background: var(--bg-dark);
  padding: 20px;
  text-align: center;
  color: var(--text-muted);
}