{% extends "layout.html" %}

 {% block css_adicional%}
<link rel="stylesheet" href="/static/src/styles/pagina2.css">
{% endblock %}

{% block conteudo %}

<main class="product">
    <div class="product__container">

      <!-- IMAGEM COM CARD -->
      <div class="image-card">
        <img src="https://images.pexels.com/photos/1639557/pexels-photo-1639557.jpeg" alt="Classic Dev">
      </div>

      <!-- INFORMAÇÕES -->
      <div class="product__info">
        <h2 class="product__title">Classic Dev</h2>
        <p class="product__description">
          Pão brioche macio, carne suculenta grelhada no ponto perfeito
          e queijo derretido. Simples, clássico e delicioso.
        </p>
        <span class="product__price">R$ 25,00</span>
        <button class="button button--primary">Comprar 🍔</button>
      </div>

    </div>
  </main>
{% endblock %}