{% extends "layout.html" %}

 {% block css_adicional%}
<link rel="stylesheet" href="/static/src/styles/pagina2.css">
{% endblock %}

{% block conteudo %}

<main class="product">
    <div class="product__container">

      <!-- IMAGEM COM CARD -->
      <div class="image-card">
        <img src="{{produto.foto}}" alt="Classic Dev">
      </div>

      <!-- INFORMAÇÕES -->
      <div class="product__info">
        <h2 class="product__title">{{produto.produto}}</h2>
        <p class="product__description">
          {{produto.descricao}}
        </p>
        <span class="product__price">R$ {{produto.preco}}</span>
        <button class="button button--primary">comprar 🍔</button>
      </div>

    </div>
  </main>
{% endblock %}