<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/src/styles/sidebar.css">
</head>
<body>
    <aside class="cart" id="carrinho">
  <h2>Carrinho 🛒</h2>

  <div class="cart-items">
    <div class="cart-item">
      <div class="item-info">
        <h3>Classic Burger</h3>
        <p>R$ 25,00</p>
      </div>
      <div class="item-qty">
        <button>-</button>
        <span>1</span>
        <button>+</button>
      </div>
    </div>

  <div class="cart-footer">
    <p>Total: <strong>R$ 85,00</strong></p>
    <button class="checkout-btn">Finalizar Pedido</button>
  </div>
</aside>
</body>
</html>

